<div class="row">
    <div class="col-6">

        <div class="mb-3">
            <label for="" class="from-label"> Numero 1 </label>
            <input type="text" class="form-control"
             [(ngModel)]="num1" name="num1" placeholder="Numero1">
        </div>

        <div class="mb-3">
            <label for="" class="from-label"> Numero 2 </label>
            <input type="text" class="form-control" 
            [(ngModel)]="num2"  name="num2" placeholder="Numero2">
        </div>

        <div class="mb-3">
            <button (click)="suma()" 
            class="btn btn-primary">Calcular</button>
        </div>
    </div>
    <div class="col-6">
        <h2>Resultado {{resultado}}</h2>
    </div>
</div>

<div class="row">
    <div class="col-6">
        <div class="mb-3">
            <label for="" class="from-label"> Numero 1 </label>
            <input type="text" class="form-control" 
            [(ngModel)]="num3" name="num3" placeholder="Numero 3">
            <button (click)="multiplicar()" 
            class="btn btn-primary">Calcular</button>
        </div>
    </div>
    <div class="col-6">
        <h2>Resultado:</h2>
        <p *ngFor="let resultado2 of texto">{{resultado2}}</p>
    </div>
</div>

